h1 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    color: white;
}

.signInBtn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
    font-family: Arial;
    width: 400px;
    font-size: 40px;
    font-weight: 500;
    padding: 40px;
    box-shadow: 0px 1px 35px 20px #000000;
    -webkit-box-shadow: 0px 1px 35px 20px #000000;
    -moz-box-shadow: 0px 1px 35px 20px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: groove #FFFFFF 1px;
    text-decoration: none;
    }
    
    .signInBtn:hover {
    background: #E63904;
    background-image: -webkit-linear-gradient(top, #E63904, #F65E59);
    background-image: -moz-linear-gradient(top, #E63904, #F65E59);
    background-image: -ms-linear-gradient(top, #E63904, #F65E59);
    background-image: -o-linear-gradient(top, #E63904, #F65E59);
    background-image: linear-gradient(to bottom, #E63904, #F65E59);
    text-decoration: none;
    }

    .signInModal {
        border: black, solid, 3px;
        background-color: black;
        height: 500px;
        width: 100%;
    }
    
    .signInInputs {
        max-width: 250px;
        max-height: 100px;
        padding: 30px;
        margin: auto;
    }
    
    .flex-container {
        margin: auto;
      }

      .btn {
          margin: auto;
      }